<div class="listado-container">
     @if (mensajeError){
        <p style="color: red;"> {{mensajeError}} </p>
     }

    @if (listamaterias.length > 0){
        <table border="1" *ngIf="listamaterias.length > 0">
        <thead>
            <tr>
                <th> ID Materia  </th>
                <th> Nombres  </th>
                <th> Inscriptos  </th>
                <th> Actividades </th>
            </tr>
        </thead>
        <tbody>
            @for (usuario of listamaterias; track usuario.email) {
                <tr>
                    <td> {{ usuario.Id }} </td>
                    <td> {{ usuario.Nombre }}</td>
                    <td> {{ usuario.inscriptos }}</td>
                    <td> {{ usuario.actividades}} </td>
                    <td> <button routerLink="[`/registro, usuario.Id]">Editar</button> </td>
                    <td> <button (click)="Borrar(usuario.id)"Eliminar></button> </td>                    
                </tr>
            }
        </tbody>
    </table>
    }
    

    @if (listamaterias.length === 0 && !mensajeError){
        <p> No hay Materias registradas</p>
    }
</div>