<div class="tarjeta-enlaces">
    <form (ngSubmit)="onRegister()" class="form-container" >
        <div>
            <label for="id" >Id: </label>
            <input
            id="id"
            type="number"
            name="id" 
            [(ngModel)]="datosFormulario.id" // falta completar backend
            readonly>

        </div>
        <div>
            <label for="email">Email: </label>
            <input
            id="email"
            type="email"
            name="email"
            [(ngModel)]="datosFormulario.email"
            required
            placeholder="ejemplo@correo.com">
        </div>
        <div>
            <label for="nombre">Nombre: </label>
            <input
            id="nombre"
            type="text"
            name="nombre"
            [(ngModel)]="datosFormulario.nombre"
            required>
        </div>
        <div>
            <label for="password"> Contrasaña: </label>
            <input
            id="password"
            type="password"
            name="password"
            [(ngModel)]="datosFormulario.password"
            required>
        </div>
        <div>
            <label for="rol">Rol: </label>
            <select
                id="rol"
                name="rol"
                [(ngModel)]="datosFormulario.rol"
                required> 
                <option value="" disabled selected>Seleccione su Rol...</option>
                    
                <option value="ALUMNO">Alumno</option>
                <option *ngIf="esAdmin" value="PROFESOR">Profesor</option>
                <option *ngIf="esAdmin" value="ADMIN">Administrador</option>
            </select>
        </div>
        <div>
            <button [formAction]="onRegister"> Enviar </button>
        </div>
    </form>
</div>