.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.tarjetas{
  margin-bottom: 30px;
}

.content {
  width: 80%;
  margin-left: 20%;
  transition: all 0.3s ease-in-out;
  background-color: #5c74bc;
  align-content: center;
  text-align: center;
}

.content-inner {
  padding: 2rem;
  margin: 0 auto;
}

/* Cuando Angular le agrega la clase content-expanded mediante ngClass */
.content.content-expanded {
  width: 97%;
  margin-left: 3%;
}

.sidebar-toggle-btn {
  position: absolute;
  top: 1rem;
  left: 302px; 
  background-color: rgba(75, 26, 144, 0.773);
  border: none;
  padding: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  cursor: pointer;
  z-index: 1001;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &:hover {
    background-color: rgb(48, 170, 119);
  }

  &.sidebar-collapsed {
    left: 0px; 
  }
}


.grupo-botones{
  margin-top: 10%;
  align-items: center;
  align-self: center;
}